<div id="knowledge" class="knowledge">
    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="form-group">
            <div class="row justify-content-center">
                <div class="col-md-5 text-center">
                    <h2 class="title text-center" translate="knowledge.title"></h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 text-center">
                    <span class="subtitle text-center" translate="knowledge.subtitle"></span>
                </div>
            </div>
        </div>
        <div class="row header text-center">
            <div id="headline" class="col-md-4 knowledge-card">
                <h3 class="header" translate="knowledge.aboutMe.title"></h3>
                <div class="body">
                    <div class="content">
                        <p class="text firaSans knowledge-font" translate="knowledge.aboutMe.content"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 knowledge-card">
                <h3 class="header" translate="knowledge.degree.title"></h3>
                <div class="body">
                    <div class="content">
                        <p class="text firaSans knowledge-font" translate="knowledge.degree.content"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 knowledge-card">
                <h3 class="header" translate="knowledge.currentJob.title"></h3>
                <div class="body">
                    <div class="content">
                        <p class="text firaSans knowledge-font" translate="knowledge.currentJob.content"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12">
        <div class="form-group">

            <div class="row justify-content-center">
                <div class="col-md-5 text-center">
                    <h2 class="title text-center" translate="knowledge.descriptionTitle"></h2>
                </div>
            </div>

        </div>
    </div>

</div>
