<section id="menu">
    <div class="neptune-menu-bar">
        <div class="display-initial row">

            <div class="float-left">
                <a class="logo-img"></a>
            </div>
            <div class="language float-left">

                <span class="clickable lang" (click)="setLang('pt-br')"
                      [ngClass]="{ 'lang-active': activeLang == 'pt-br' }">PT</span>
                    <span class="oswald"> - </span>
                    <span class="clickable lang" (click)="setLang('en')"
                          [ngClass]="{ 'lang-active': activeLang == 'en' }">EN</span>
            </div>

            <h4 class="float-right social-media-padding padding-right-5 animated pulse">
                <a target="_blank" href="https://www.facebook.com/elder.diasbatista.1">
                    <span class="fab fa-facebook-square h-100 social-media"></span>
                </a>
            </h4>
            <h4 class="float-right social-media-padding animated pulse">
                <a target="_blank" href="https://www.linkedin.com/in/%C3%A9lder-dias-batista-bb30aab1/">
                    <span class="fab fa-linkedin h-100 social-media"></span>
                </a>
            </h4>
        </div>
    </div>
</section>

<!--<jhi-navbar></jhi-navbar>-->
<!--<jhi-page-ribbon></jhi-page-ribbon>-->
<!--<div>-->
<!--    <router-outlet name="navbar"></router-outlet>-->
<!--</div>-->

<!--    <div class="card jh-card">-->
<router-outlet></router-outlet>
<router-outlet name="popup"></router-outlet>
<!--    </div>-->
<!--    <jhi-footer></jhi-footer>-->

