@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.name {
  margin-top: 100px;
  margin-left: 80px !important;
}

.header {
  //padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.description {
  color: white;
}

.logo img {
  height: 85%;
  width: auto;
}

.logo {
  padding-top: 15px;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  height: 85%;
}

.display-inherit {
  display: inherit;
}

@media (max-width: 767px) {
  .howIam-font {
    font-size: 13px;
    text-align: center;
  }
  .aboutMe-font {
    font-size: 20px;
    text-align: center;
  }
  .welcome-font {
    font-size: 40px;
    text-align: center;
  }
  .name {
    margin-top: 50px;
    margin-left: 0px !important;
  }
  .avatar-pos {
    width: 100%;
    justify-content: center !important;
    display: inline-grid;
  }
}

@media (min-width: 768px) {
  .howIam-font {
    font-size: 14px;
  }
  .aboutMe-font {
    font-size: 25px;
  }
  .welcome-font {
    font-size: 50px;
  }
  .name {
    margin-top: 100px;
    margin-left: 20px !important;
  }
}

@media (min-width: 992px) {
  .welcome-font {
    font-size: 65px;
  }
  .aboutMe-font {
    font-size: 30px;
  }
  .name {
    margin-top: 100px;
    margin-left: 70px !important;
  }
}

@media (min-width: 1200px) {
  .howIam-font {
    font-size: 15px;
  }
  .welcome-font {
    font-size: 70px;
  }
  .aboutMe-font {
    font-size: 40px;
  }
  .name {
    margin-top: 100px;
    margin-left: 60px !important;
  }
}

.language {
  padding-top: 5px;
  padding-left: 10px;
}

.clickable {
  cursor: pointer;
}

.lang {
  transition: 0.3s;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}

.lang:hover {
  color: rgba(123, 255, 248, 0.51);
}

.active {
  color: rgba(123, 255, 248, 0.51);
}

.break-line {
  word-wrap: break-word;
}

.middle-menu {
  padding: 0 !important;
  margin: 0 !important;
  height: 50px;
  width: 100%;
  background-color: #a38cff2e;
}

.email {
  width: 50%;
  height: 100%;
}

.social-media {
  transition: 0.3s;
  padding-right: 5px;
  color: white;
}

.padding-right-5 {
  padding-right: 5px;
}

.social-media-padding {
  padding-top: 5px;
  padding-left: 2px;
}

.email-input {
  border-radius: 50px;
}
