<div class="col-md-12 form-group">
    <div class="header">
        <div class="row">
            <div class="name">
                <h1 class="oswald font-size-50">
                    What's Up!
                </h1>
                <h2 class="oswald font-size-50">
                    My name is Élder Dias!
                </h2>

                <div class="row">
                    <div class="col-md-12">
                        <p class="description text-right">
                            I'm a full-stack developer. Enjoy to know a little bit more about me.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
