.first-container {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
}

.second-container {
  background-color: #271540;
  position: absolute;
  width: 100%;
  z-index: 99;
  height: 100vh;
}

.third-container {
  background-color: #3a402d;
  width: 100%;
  height: 50px;
}
